html {
    scroll-behavior: smooth;
}

body{
	margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;

    /* NEW */
    background-color: #ffffff !important;

    color: rgb(0, 0, 0);

    font-family: Arial, Helvetica, sans-serif;
}

/* HEADERS */
li::marker {
    color: rgb(31, 46, 155);
    border-radius: 2px;
  }

/* NAV */

/* Navbrand text */
.navbar-brand:link{
    font-size: x-large !important;
    transform: scale(1.0,1.0); 
    transition: transform 0.5s;
}
.navbar-brand:hover {
    transform: scale(1.05,1.05);
}

/* a for nav links || :active NOT WORKING*/
.nav-link:link{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
    transform: scale(1.0,1.0) !important; 
}
.nav-link:active{
    transform: scale(1.05,1.05) !important; 
}


/* li for nav links || :active NOT WORKING*/
.nav-item:link{
    transform: scale(1.0,1.0); 
}
.nav-item:active{
    transform: scale(1.05,1.05) !important; 
}


/* PAGE 1 */

#heroPage{ 
    color: aliceblue !important;
    background-color: black !important;
}
/* .heroPage h3{
    color: aliceblue !important;
} */

.jumbotron{
    background-color: transparent;
}

.bg-dark{
    color: rgb(255, 255, 255);
    padding: 1em 1em 1em 1em;
    width: 8em;
    font-size: x-large;
    border-radius: 20px;
    background-color: black !important;
}




/* PAGE 2 */
#par1{
    background-color: azure !important;
}


/* PORTFOLIO PAGE */
#projectsSection{
    transition: 0.3s;
}

#projectsSection a:link{
    transform: scale(1.0,1.0);
}
#projectsSection a:hover{
    transform: scale(1.05,1.05);
}

.modal {
    width: 100% !important;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;

    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* Location of the box */
    /* padding-top: 100px; */
    left: 0; top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}


.modal-content{
    margin: auto;
    padding: 20px;
    width: 70% !important;
    /* Width originally kept at 70%*/
}

@media only screen and (max-width: 600px){
    .modal-content{
        margin: auto;
        padding: 20px;
        width: 95% !important;
    }
}

/* Fade in tabs */
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  @keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }

/* CONTACTS */
.iconZoom:link{
    transform: scale(1.0,1.0)  !important; 
    transition: transform 0.5s  !important; 
}
.iconZoom:hover {
    transform: scale(1.05,1.05)  !important;
 }
  
/* FOOTERS */

/* Rounded border */
hr.rounded {
    width: 90%;
    border-top: 4px solid #513e3e;
    border-radius: 100px;
    padding-bottom: 1em;
}

/* List stuff */
.noBullet{
    list-style-type: none;
}

li{
    font-size: medium;
}